<nav>
  <h1>Recipe Book</h1>
  <ul class="navLinks">
    <li routerLinkActive="active">
      <a routerLink="/recipes">Recipes</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/shopping-list">Shopping List</a>
    </li>
    <li class="dropdown">
      <span
        class="dropdown-toggle disabled"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage
      </span>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Something else here</a>
      </div>
    </li>
  </ul>
</nav>
