$textColor: rgba(255, 255, 255, 0.7);
$bgColor: #232b2b;

nav,
ul {
  display: flex;
}

h1{
  font-size: 2rem;
  margin-right: 100px;
}

nav {
  color: $textColor;
  background: $bgColor;
  align-items: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  width:400px;
  justify-content: space-between;
  align-items: center;
}

li{
  padding: 5px 6px;
  cursor: pointer;
}

[routerLink]{
  color:white;
}

.active{
  border: 2px solid;
  color:rgba(255, 255, 255, 0.9);
}
