$textColor: rgba(255, 255, 255, 0.7);
$bgColor: #232b2b;

nav,
ul {
  display: flex;
}

ul {
  margin: 0;
  list-style-type: none;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

li {
  padding: 5px 6px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 2rem;
  margin-right: 100px;
}

nav {
  color: $textColor;
  background: $bgColor;
  align-items: center;
  padding: 10px 30px;
}

.disabled {
  cursor: not-allowed;
}

[routerLink] {
  color: rgba(255, 255, 255, 0.7);
}

.active {
  border: 2px solid rgba(255, 255, 255, 0.9);
  [routerLink] {
    color: rgba(255, 255, 255, 0.9);
  }
}
