<nav>
  <h1>
    <a routerLink="/">Recipe Book</a>
  </h1>
  <ul class="navLinks">
    <li routerLinkActive="active" routerLink="/recipes">
      Recipes
    </li>
    <li routerLinkActive="active" routerLink="/shopping-list">
      Shopping List
    </li>
    <!-- <li class="dropdown">
      <span
        class="dropdown-toggle disabled"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage
      </span>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Something else here</a>
      </div>
    </li> -->
  </ul>
</nav>
