.recipe-details {
  width: 100%;
  > section {
    margin-bottom: 20px;
  }
}

img {
  max-height: 400px;
  width: 80%;
}

.heading {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dropdown-item {
  cursor: pointer;
}
