<section class="recipe-details">
  <section>
    <img
      src="https://www.maxpixel.net/static/photo/1x/Kitchen-Meat-Vegetable-Recipe-Morocco-Couscous-3440042.jpg"
      alt=""
    />
  </section>
  <section class="heading">
    <h2>Recipe Name</h2>
    <div class="btn-group">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-toggle="dropdown"
      >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </section>
  <section class="description">description</section>
  <section class="ingredients">ingredients</section>
</section>
