.recipes {
  min-width: 900px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-areas:
    "recipes-list recipes-details"
    "router-outlet .";
}

app-recipes-list {
  grid-area: recipes-list;
}
app-recipes-details {
  grid-area: recipes-details;
}
router-outlet {
  grid-area: router-outlet;
}
